* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
}

#page {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    border: 1px solid red;
}

.warning {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.warning h1 {
    margin-bottom: 15px;
}

.warning p {
    line-height: 25px;
}

.about {
    width: 95%;
    margin: auto;
}

.about .img_container {
    width: 100%;
    height: 650px;
}
.about .img_container img {
    width: 100%;
    height: 100%;
}
